<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtuber Scanner</title>

    <!-- Favicons -->
    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index_style.css">
  </head>

  <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="logo text-center">
            <h1 class="search-caption">SEARCH A YOUTUBER</h1>
          </div>

          <div class="subcription-info text-center">
            <form class="subscribe_form" action="/results" method="post">
              <input required="" value="{{ orig_query }}" placeholder="Enter a keyword or sth ..." id="query" name="query" type="text">
              <input value="{{ orig_channel_title }}" placeholder="Search a youtuber's name ..." id="channel_title" name="channel_title" type="text">
              <input value="{{ orig_upload_interval }}" placeholder="Upload interval ..." id="upload_interval" name="upload_interval" type="number">
              <input class="subscribe" name="search" value="SEARCH" type="submit">
            </form>
          </div>
        </div>
      </div>

      {% if is_result == True: %}
        <div id="results" class="result-info">
            {% if ignored %}
              <h2 class="subs-title">Ignoring stopword(s): 
                {% for term in ignored %}
                  <span class="data-in-row">{{ term }}</span>
                {% endfor %}
              </h2>
            {% endif %}
            {% if unknown_terms %}
              <h2 class="subs-title">Unknown word(s):
                {% for term in unknown_terms %}
                  <span class="data-in-row">{{ term }}</span>
                {% endfor %}
              </h2>
            {% endif %}
            
            <h2 class="subs-title">Total hits: <span class="data-in-row">{{ res_num }}</span></h2>
            <div class="list-group">
                {% for res in results %}
                  <a href="/documents/{{ res }}" target="_blank" class="list-group-item">

                    <img src="{{ results[res]['image_url'] }}" class="avartar">
                      
                    <h4 class="list-group-item-heading film-header">TITLE: <span class="data-in-row">{{ results[res]['channel_title'] }}</span></h4>

                    <h4 class="list-group-item-heading film-header">SCORE:
                      <span class="data-in-row">{{ results[res]['score'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">VIDEO COUNTS:
                      <span class="data-in-row">{{ results[res]['video_count'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">VIEW COUNTS:
                      <span class="data-in-row">{{ results[res]['view_count'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">SUBSCRIBER COUNTS:
                      <span class="data-in-row">{{ results[res]['subscriber_count'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">LAST UPLOAD DATE:
                      <span class="data-in-row">{{ results[res]['latest_upload_datetime'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">CHANNEL CREATED DATE:
                      <span class="data-in-row">{{ results[res]['channel_create_date'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">UPLOAD INTERVAL:
                      <span class="data-in-row">Every {{ results[res]['upload_interval'] }} days</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">CATEGORIES:
                      {% for category in results[res]['categories'] %}
                        <span class="data-in-row">{{ category }}</span>
                      {% endfor %}
                    </h4>

                    <h4 class="list-group-item-heading film-header">CHANNEL URL: 
                      <span class="data-in-row">{{ results[res]['channel_url'] }}</span>
                    </h4>

                    <h4 class="list-group-item-heading film-header">DESCRIPTION:
                      <span class="data-in-row">{{ results[res]['channel_desc'] }}</span>
                    </h4>
                  
                  </a>
                {% endfor %}
            </div>
            
            {% if res_num >= 10 %}
            <nav aria-label="Page navigation">
              <form action="/results" method="post" class="pagination">
                <input type="hidden" name="query" value="{{ orig_query }}">
                <input type="hidden" value="{{ orig_channel_title }}" name="channel_title">
                <input type="hidden" value="{{ orig_upload_interval }}" name="upload_interval">
                {% for i in range(1, pages_num) %}
                  <li>
                    {% if page_id == i %}
                      <input type="submit" class="btm-page-btn btn btn-info" name="page_id" value="{{ i }}">
                    {% else %}
                      <input type="submit" class="btm-page-btn btn btn-default" name="page_id" value="{{ i }}">
                    {% endif %}
                  </li>
                {% endfor %}
              </form>
            </nav>
            {% endif %}
          {% endif %}
        </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>

  </body>

</html>
